a {
    text-decoration: none;
    display:flex;
}

h1, h2 {
    text-align: center;
}

.grades-container {
    display: flex;
    flex-flow: column wrap;
}

.gradelink {
    height: 50px;
    flex: 1 0 100%;
    background-color: lightgrey;    
    border: 1px solid white;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.grade {
    display: flex;
    flex-direction: column; 
    margin: 5px;
    background-color: white;
}