a {
    text-decoration: none;
    display:flex;
}

h1, h2 {
    text-align: center;
}

.classes-container {
    display: flex;
    flex-flow: row wrap;
}

.class {
    height: 50px;
    flex: 1 0 100%;
    background-color: lightgrey;    
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}